h1 {

    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;

}

label {

    padding-right: 10px;

}

fieldset {

    display: flex;
    justify-content: center;
    align-items: center;

}

.ag-theme-material {

    margin: auto;

}

button {

    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {

    background-color: white;
    color: black;

}